<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name }}</title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% render 'meta-tags' %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      :root {
        --font-body: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-heading: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        --font-size-base: {{ settings.base_font_size }}px;
        --color-primary: {{ settings.color_primary }};
        --color-primary-rgb: {{ settings.color_primary.red }}, {{ settings.color_primary.green }}, {{ settings.color_primary.blue }};
        --color-accent: {{ settings.color_accent }};
        --color-accent-rgb: {{ settings.color_accent.red }}, {{ settings.color_accent.green }}, {{ settings.color_accent.blue }};
        --color-bg: {{ settings.color_background }};
        --color-bg-rgb: {{ settings.color_background.red }}, {{ settings.color_background.green }}, {{ settings.color_background.blue }};
        --color-text: {{ settings.color_text }};
        --color-text-rgb: {{ settings.color_text.red }}, {{ settings.color_text.green }}, {{ settings.color_text.blue }};
        --color-sale: {{ settings.color_sale }};
        --page-width: {{ settings.page_width }}px;
        --btn-radius: {{ settings.button_radius }}px;
        --card-radius: {{ settings.card_radius }}px;
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body class="template-password">
    <a class="skip-link" href="#MainContent">{{ 'accessibility.skip_to_content' | t }}</a>
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
